<nav>
  <% if (user) { %>
  <a href="/books">Browse Books</a>
  <a href="/">Homepage</a>
  <a href="/users/<%= user._id %>/cart">Cart</a>
  <a href="/auth/sign-out">Sign out</a>
  <% } else { %>
  <a href="/books">Browse Books</a>
  <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">Sign in</a>. <%
  } %>
</nav>
