<nav>
  <span id="nav-title">
    <b><i>BookstaCart</i></b>
  </span>
  <img
    src="https://static.vecteezy.com/system/resources/previews/023/052/526/non_2x/red-cart-full-of-books-illustration-vector.jpg"
    alt="stacked books in red cart"
    height="53"
    width="53"
  />
  <% if (user) { %>
  <a href="/auth/sign-out">Sign out</a>
  <a href="/users/<%= user._id %>/cart">Cart</a>
  <a href="/">Homepage</a>
  <a href="/books">Browse Books</a>
  <% } else { %>
  <a href="/books">Browse Books</a>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a> <% } %>
</nav>
